body{
    background-color: #ede3e7;
    overflow: hidden;
}
button.none{
    outline: none;
    background-color: transparent;
    border: 0;
}
a{
    color: #7f44b5;
    text-decoration: none;
}
a:hover{
    color: #6ba44e;
}
.gray-14{
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}
.ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mt-25{
    margin-top: 25px;
}

.badge{
    display: inline-block;
    padding: 2px;
    color: #fff;
    margin-left: 5px;
}
.bg-success{
    background-color: #6ba44e;
}
@media (max-width: 768px) {
    .xs-right{
        margin-top: 25px;
        margin-left: 0;
    }
    .xs-hidden{
        display: none;
    }
}
@media (min-width: 768px) {
    .xs-right{
        margin-top: 0;
        padding-left: 25px;
    }
}