body{
    background-color: #ede3e7;
    overflow: hidden;
}
button.none{
    outline: none;
    background-color: transparent;
    border: 0;
}
.gray-14{
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}